<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> NodeJS </title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <div class="container">
      <h2> Aplicação de Desenvolvimento Express </h2>
      <p> Node.js é um ambiente de execução Javascript de codigo aberto e multiplataforma,
         construído sobre o motor V8 do Chrome. Ele permite que você execute Javascript
         no lado do servidor, ou seja, fora do navageador, possibilitando o desenvolvimento
         aplicações WEB e outras ferramentas Back-End.
         Node.js é um software de codigo aberto, multiplataforma, baseado no interpretador V8
         do Google e que permite a execução de codigos Javascript fora de um navegador WEB. A
         principla característica do Node.js é sua arquitetura assíncrona e orientada por eventos.
      </p>
      <h3> Faça login </h3>
      <form action="/login" method="POST">
         <label for="username">usuario:</label>
         <input type="text" id="username" name="username" placeholder="usuario" required>
         <label for="password">senha:</label>
         <input type="text" id="password" name="password" placeholder="senha" required>
         <br>
         <button type="submit"> conectar </button>
      </form>
   </div>

</body>
</html>
